@import "../styles/variables";

.header-wrap {
    width: 100vw;
    height: 10vh;

    position: fixed;
    top: 0;
    z-index: 1;
}

.header-content {
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #{&}__title {
        margin-left: $margin-common;

        font-family: Yantramanav;
        font-style: normal;
        font-weight: normal;

        color: $green-dark;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        h4 {
            color: $text-color-dark;
        }
    }

    #{&}__navbar {
        margin-right: $margin-common + 2rem;

        .navbar__content {
            display: flex;
            list-style: none;
        }
        .navbar__item {
            padding-left: 2rem;
            font-style: normal;
            font-weight: bold;
            color: $text-color-dark;
            cursor: pointer;
        }
    }

    @media (max-width: 1400px) {
        #{&}__title {
            margin-left: $margin-common_2;
        }
        #{&}__navbar {
            margin-right: $margin-common_2 + 2rem;
        }
    }
    @media (max-width: 1150px) {
        #{&}__title {
            margin-left: $margin-common_3;
        }
        #{&}__navbar {
            margin-right: $margin-common_3 + 2rem;
        }
    }
}
