@import "../commons/styles/variables";
.home-wrap {
    height: 100%;
    width: 100%;
    margin-top: 10vh;

    background-color: #edf2f9;

    .main {
        width: 100%;
        height: 100%;

        .main-container {
            display: flex;
            justify-content: space-between;
            margin-left: $margin-common;
            margin-right: $margin-common;
        }
        @media (max-width: 1500px) {
            .main-container {
                margin-left: $margin-common_2;
                margin-right: $margin-common_2;
            }
        }

        &__menu {
            width: 15rem;
        }

        &__content {
            margin-top: 1rem;
            width: 50rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }

        &__follower {
        }
    }
}
