.menu {
    position: fixed;
    top: 5rem;
    right: 5rem;
    width: 250px;
    display: flex;

    background-color: #fffce9;
    font-family: sans-serif;

    padding-bottom: 2rem;
    border-bottom: 2px solid #ddd;
    border-radius: 14px;
    box-shadow: 0px 0px 5px rgba($color: #fffce9, $alpha: 0.7);

    #{&}__item {
        margin-left: 2rem;
        margin-top: 2rem;
        padding-right: 3rem;
        border-radius: 30px;
        cursor: pointer;

        list-style: none;

        .link {
            display: flex;
            align-items: center;

            text-decoration: none;
            color: #505c6c;
            font-size: 1rem;
            font-weight: bold;
        }

        .icon {
            width: 2.6rem;
            height: 2.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;

            background-color: aqua;
            border-radius: 100%;
            img {
                height: 1.5rem;
            }
        }

        &:hover {
            background-color: white;
            .link {
                color: #ff3162;
            }
        }

        &--active {
            background-color: white;
            .link {
                color: #ff3162;
            }
        }
    }
}
