@import "../commons/styles/variables";
$green-light: #9cd7cc;
$green-dark: #17c2a2;
$pink-light: #ffbcbc;
$pink-dark: #f68d8d;
$svg-light: #f4e6e6;
$svg-dark: #505050;
$text-color-dark: #959595;
$margin-common: 8rem;
